<div class="col-md-12 col-lg-12">
	<ul class="nav nav-tabs">
	  <li <% if params[:controller] ==  'messages'%>class="active"<%end%>>
	  	<%= link_to "客户留言", leave_messages_backend_shop_messages_path(@current_shop.slug)%>
	  	</li>
	  <li <% if params[:controller] == 'message_threads' %>class="active"<%end%>>
	  	<%= link_to "客户会话记录", backend_shop_message_threads_path(@current_shop.slug) %>
	  </li>
	</ul>
</div>