<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="sjbf">
  <img src="images/pic02.jpg" width="15" height="18" />
  <h2>智能点单<span>(不知道怎么选？)</span></h2>
</div>
<div class="clear"></div>
<div class="sjlie">
  <ul>
    <li><img src="images/pic01.jpg" width="180" height="135" /><div class="liel"><span>蔬菜沙拉</span><p>￥25</p></div>
            <div class="lier"><div class="liejia"><a href="#">-</a></div><div class="liesz">1</div><div class="liejia" style="border:none;"><a href="#">+</a></div></div></li>
                      <li><img src="images/pic01.jpg" width="180" height="135" /><div class="liel"><span>蔬菜沙拉</span><p>￥25</p></div>
            <div class="lier"><div class="liejia"><a href="#">-</a></div><div class="liesz">1</div><div class="liejia" style="border:none;"><a href="#">+</a></div></div></li>
                      <li><img src="images/pic01.jpg" width="180" height="135" /><div class="liel"><span>蔬菜沙拉</span><p>￥25</p></div>
            <div class="lier"><div class="liejia"><a href="#">-</a></div><div class="liesz">1</div><div class="liejia" style="border:none;"><a href="#">+</a></div></div></li>
                      <li><img src="images/pic01.jpg" width="180" height="135" /><div class="liel"><span>蔬菜沙拉</span><p>￥25</p></div>
            <div class="lier"><div class="liejia"><a href="#">-</a></div><div class="liesz">1</div><div class="liejia" style="border:none;"><a href="#">+</a></div></div></li>
                      <li><img src="images/pic01.jpg" width="180" height="135" /><div class="liel"><span>蔬菜沙拉</span><p>￥25</p></div>
            <div class="lier"><div class="liejia"><a href="#">-</a></div><div class="liesz">1</div><div class="liejia" style="border:none;"><a href="#">+</a></div></div></li>
                      <li><img src="images/pic01.jpg" width="180" height="135" /><div class="liel"><span>蔬菜沙拉</span><p>￥25</p></div>
            <div class="lier"><div class="liejia"><a href="#">-</a></div><div class="liesz">1</div><div class="liejia" style="border:none;"><a href="#">+</a></div></div></li>

  </ul>
</div>
<div class="clear"></div>

<div class="clear"></div>
<div class="djgm">
  <div class="djgml"><a href="#">点击购买</a></div>
    <div class="cxxzr"><a href="#">不是我想要的</a></div>
</div>
</body>
</html>
