<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="fw">
  <ul>
      <li><a href="#"><img src="images/dd.jpg" width="35" height="35" /></a></li>
      <li><a href="#"><img src="images/ren.jpg" width="32" height="33" /></a></li>
      <li><a href="#"><img src="images/gwc.jpg" width="40" height="34" /></a></li>
    </ul>
</div>
<div class="clear"></div>
<div class="cont1">
  <div class="duix"><img src="images/fh.jpg" width="13" height="19" />签到</div>
    <div class="huany">欢迎签到得积分</div>
  <div class="xingq"><span>星期一</span><p>5月<br />30</p><e>1</e><e>1</e><b>已签到</b></div>
  <div class="qdkk">
  <input name="kw" type="text"  class="ipt"/>
  <input value="签到" class="btn" type="submit" />
  </div>
  <div class="qdao">
    <ul>
      <li><span>5月30 星期几</span><p>nj的</p></li>
      <li class="daz">心情：好</li>
    </ul>
    <ul>
      <li><span>5月30 星期几</span><p>nj的</p></li>
      <li class="daz">心情：好</li>
    </ul>
  </div>
</div>
<div class="clear"></div>

</body>
</html>
