<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="fw">
  <ul>
      <li><a href="#"><img src="images/dd.jpg" width="35" height="35" /></a></li>
      <li><a href="#"><img src="images/ren.jpg" width="32" height="33" /></a></li>
      <li><a href="#"><img src="images/gwc.jpg" width="40" height="34" /></a></li>
    </ul>
</div>
<div class="clear"></div>
<div class="cont2">
  <div class="duix"><img src="images/fh.jpg" width="13" height="19" />修改个人信息</div>
    <div class="xg">
      <form action="" method="get">
          <div class="xg_z"><span>用户名</span>
            <input name="input" type="text" class="ku"/>
          </div>
          <div class="xg_z"><span>姓名</span>
            <input name="input" type="text" class="ku"/>
          </div>
          <div class="xg_z"><span>手机</span>
            <input name="input" type="text" class="ku"/>
          </div>
          <div class="xg_z"><span>邮箱</span>
            <input name="input" type="text" class="ku"/>
          </div>
          <div class="xg_z"><span>地址</span>
            <textarea name="" cols="" rows="" class="ku1"></textarea>
          </div>
            <input name="" type="submit" class="tijiao" value=" "/>
        </form>
    </div>
</div>
<div class="clear"></div>

</body>
</html>
