<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="fw">
  <ul>
      <li><a href="#"><img src="images/dd.jpg" width="35" height="35" /></a></li>
      <li><a href="#"><img src="images/ren.jpg" width="32" height="33" /></a></li>
      <li><a href="#"><img src="images/gwc.jpg" width="40" height="34" /></a></li>
    </ul>
</div>
<div class="clear"></div>
<div class="cont1">
  <div class="duix"><img src="images/fh.jpg" width="13" height="19" />积分兑换</div>
  <div class="libiao">
      <div class="jp"><span>奖品列表</span><p>当前积分<e>0</e>分</p></div>
      <div class="jp_x">
          <dl>
              <dt><img src="images/tu6.jpg" width="120" height="120" /></dt>
                <dd>
                  <span>不不不</span>
                    <p>积分</p>
                    <p>积分</p>
          <div class="fy1">
            <div class="jian"><a href="#">-</a></div><div class="sz">1</div><div class="jian" style="border:none;"><a href="#">+</a></div></div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="sxu">所需积分</div>
    <div class="lianxi">
          <div class="jp"><span>奖品列表</span></div>
      <div class="lx">
              <ul>
                <form action="" method="get">
                  <li><span>联系人</span><input name="" type="text" class="kuan"/></li>
                  <li><span>电话</span>
                    <input name="" type="text" class="kuan"/></li>
                  <li><span>地址</span><input name="" type="text" class="kuan"/></li>
                  <li><span>地址</span>
                    <textarea name="textarea" cols="" rows="" class="kuan1"></textarea>
                  </li>
                 </form>
                </ul>
            </div>
    </div>
    <div class="qud"><a href="#"><img src="images/tj1.jpg" width="361" height="41" /></a></div>
</div>
<div class="clear"></div>

</body>
</html>
