<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="fw">
  <ul>
      <li><a href="#"><img src="images/dd.jpg" width="35" height="35" /></a></li>
      <li><a href="#"><img src="images/ren.jpg" width="32" height="33" /></a></li>
      <li><a href="#"><img src="images/gwc.jpg" width="40" height="34" /></a></li>
    </ul>
</div>
<div class="clear"></div>
<div class="huiy">
  <div class="wdd">
      <ul>
          <li><img src="images/b.jpg" width="51" height="52" /><span><p>0</p>
            <a href="#">已成交金额</a></span></li>
          <li style="border-right:none;"><img src="images/b1.jpg" width="51" height="52" /><span><p>0</p>
            <a href="#">我的优惠劵</a></span></li>
          <li><img src="images/b2.jpg" width="51" height="52" /><span><p>0</p>
            <a href="#">中奖纪录</a></span></li>
          <li style="border-right:none;"><img src="images/b3.jpg" width="51" height="52" /><span><p>0</p>
            <a href="#">每日签到</a></span></li>
        </ul>
    </div>
    <div class="clear"></div>
  <div class="wdd1">
      <ul>
          <li><img src="images/b4.jpg" width="22" height="23" /><span>
            <a href="#">个人资料</a></span></li>
          <li style="margin:0 0 5px 0;"><img src="images/b5.jpg" width="22" height="20" /><span><a href="#">我的收藏</a></span></li>
          <li><img src="images/b7.jpg" width="29" height="14" style="margin:30px 0 0 111px"/><span><a href="#">会员申请</a></span></li>
          <li style="margin:0 0 5px 0;"><img src="images/b6.jpg" width="11" height="26" /><span><a href="#">账户余额</a></span></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="wdjf">我的积分</div>
<div class="wdd2">
      <ul>
          <li><a href="#">积分<span>0</span>分</a></li>
          <li style="margin:0 0 5px 0;"><a href="#">积分兑换优惠劵</a></li>
          <li><a href="#">积分换购</a></li>
          <li style="margin:0 0 5px 0;"><a href="#">积分消费纪录</a></li>
        </ul>
    </div></div>
</body>
</html>
