.modal.fade#cart_modal{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: "modal"}, aria: {hidden: true}} &times;
        %h2.modal-title 我的购物车
      %ul.list
      .modal-footer