<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
    	<div class="panel-heading">
    		自动回复信息
    	</div>
    	<div class="panel-body">
        <%= render 'form' %>
    	</div>
      <div class="panel panel-footer">
        <%= link_to t('Back'), backend_shop_events_path(@current_shop), :class=>"btn btn-default"%>
      </div>
    </div>
  </div>
</div>

