<div ng-controller="memberController">
  <div ng-include="'webstore_partials/aside_menu.html'"></div>
  <div class="col-xs-9">
    <section class="panel panel-default">
      <div class="panel-body view_area">
        <div ng-show="memberChangePasswordSuccess" class="alert alert-success">
          {{memberChangePasswordSuccess}}
        </div>
        <div ng-show="memberChangePasswordError" class="alert alert-danger">
          {{memberChangePasswordError}}
        </div>
        <form class="form-horizontal" role="form">
          <fieldset>
            <legend>密码修改</legend>
            <div class="form-group">
              <label class="control-label col-xs-2">
                当前密码
              </label>
              <div class="col-xs-6">
                <input type="password" ng-model="member.current_password" class="form-control"/>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-2">
                新密码
              </label>
              <div class="col-xs-6">
                <input type="password" ng-model="member.password" class="form-control"/>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-2">
                确认新密码
              </label>
              <div class="col-xs-6">
                <input type="password" ng-model="member.password_confirmation" class="form-control"/>
              </div>
            </div>

            <div class="form-group">
              <center>
                <input type="submit" ng-click="change_password(member)" class="btn btn-default" value="提交"/>
              </center>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>