:javascript
  $("#partition_by_region").click(function(){
    $(".menu-branch-types").hide();
    $(".menu-zones").toggle();
  });
  $(".icon-menus").click(function(){
    $(".menu-zones").hide();
    $(".menu-branch-types").toggle();
  });