<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="fw">
  <ul>
      <li><a href="#"><img src="images/dd.jpg" width="35" height="35" /></a></li>
      <li><a href="#"><img src="images/ren.jpg" width="32" height="33" /></a></li>
      <li><a href="#"><img src="images/gwc.jpg" width="40" height="34" /></a></li>
    </ul>
</div>
<div class="dingdan">
  <div class="lei"><span>下单方式</span>
      <p class="dq"><a href="#">外送</a></p><p><a href="#">外送</a></p><p><a href="#">外送</a></p></div>
      <div class="lei" style="margin:10px 0;"><span>支付方式</span>
        <p class="dq"><a href="#">支付宝手机支付</a></p><p><a href="#">货到付款</a></p></div>
    <div class="tian">
      <div class="bti">填写用户信息</div>
        <div class="bti_z">
          <form action="" method="get">
              <div class="xm"><span>姓名</span><input name="" type="text"  class="kk"/></div>
              <div class="xm"><span>姓名</span><input name="" type="text"  class="kk"/></div>
              <div class="xm"><span>姓名</span><input name="" type="text"  class="kk"/></div>
              <div class="xm"><span>姓名</span><input name="" type="text"  class="kk"/></div>
            </form>
        </div>
    </div>
    <div class="je">订单总额：<span>￥20.00元</span></div>


    <div class="bd">
   <form action="" method="get">
          <input name="" type="submit" class="an4" value=" "/>
       <input name="" type="submit" class="an3" value=" "/>
      </form>
    </div>
</div>
</body>
</html>
