<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="fw">
  <ul>
      <li><a href="#"><img src="images/dd.jpg" width="35" height="35" /></a></li>
      <li><a href="#"><img src="images/ren.jpg" width="32" height="33" /></a></li>
      <li><a href="#"><img src="images/gwc.jpg" width="40" height="34" /></a></li>
    </ul>
</div>
<div class="dingdan">
  <div class="lei"><span>订单类型</span><p><a href="#">外送</a></p></div>
  <div class="lei" style="margin:10px 0;"><span>支付方式</span>
    <p><a href="#">货到付款</a></p></div>
    <div class="spq">
      <span>商品清单</span>
        <div class="qdnr">必胜客香脆鲜虾披萨<br />
售价：￥20元 数量：2 小计：￥20元</div>
  <div class="hj"><span>合计：￥40.00元</span>
  <p>抵扣：￥40.00元</p>
  <b>应付总额：￥40.00元</b></div>

    </div>
    <div class="qdd"><a href="#"><img src="images/tj.jpg" width="361" height="41" /></a></div>
</div>
</body>
</html>
