<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="dan">
<div class="tc"><p>川香双层鸡腿堡</p><span><a href="#"><img src="images/cha.jpg" width="38" height="38" /></a></span></div>
<div class="jg">价格：￥<span>18</span>元<del>原价：25元</del></div>
<div class="jr">
  <div class="fy"><span>-</span><p>1</p><span style="border:none;">+</span></div>
    <form action="" method="get">
      <input name="提交" type="submit" class="an" value=" "/>
      <input name="提交" type="submit" class="an1" value=" "/>
    </form>
</div>
<div class="tu"><img src="images/tu5.jpg" width="533" height="280" /></div>
<div class="sc">送餐速度：30分钟
  <br />
  送餐时间：09：00-22:00<br />
餐厅电话：1234567890<br />
餐厅地址：上海市静安区XX大街322号</div>
    <form action="" method="get">
      <input name="提交" type="submit" class="an2" value=" "/>
    </form>
</div>
</body>
</html>
