<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="fw">
  <ul>
      <li><a href="#"><img src="images/dd.jpg" width="35" height="35" /></a></li>
      <li><a href="#"><img src="images/ren.jpg" width="32" height="33" /></a></li>
      <li><a href="#"><img src="images/gwc.jpg" width="40" height="34" /></a></li>
    </ul>
</div>
<div class="clear"></div>
<div class="cont">
  <div class="cont_l">
      <span>首 页</span>
        <ul>
          <li class="hover"><a href="#">炸鸡<img src="images/ysan.png" width="7" height="13" /></a></li>
          <li><a href="#">炸鸡<img src="images/ysan.png" width="7" height="13" /></a></li>
          <li><a href="#">炸鸡<img src="images/ysan.png" width="7" height="13" /></a></li>
          <li><a href="#">炸鸡<img src="images/ysan.png" width="7" height="13" /></a></li>
        </ul>
    </div>
  <div class="cont_r">
      <dl>
          <dt><img src="images/tu2.jpg" width="103" height="83" /></dt>
            <dd>
              <span>早餐一般有煎双蛋、餐包</span>
                <span><e>价格：￥20元</e><del>原价：￥25元</del></span>
            </dd>
            <div class="dd"><a href="#"><img src="images/jh.jpg" width="27" height="28" /></a></div>
        </dl>
              <dl>
          <dt><img src="images/tu2.jpg" width="103" height="83" /></dt>
            <dd>
              <span>早餐一般有煎双蛋、餐包</span>
                <span><e>价格：￥20元</e><del>原价：￥25元</del></span>
            </dd>
            <div class="dd"><a href="#"><img src="images/jh.jpg" width="27" height="28" /></a></div>
        </dl>
              <dl>
          <dt><img src="images/tu2.jpg" width="103" height="83" /></dt>
            <dd>
              <span>早餐一般有煎双蛋、餐包</span>
                <span><e>价格：￥20元</e><del>原价：￥25元</del></span>
            </dd>
            <div class="dd"><a href="#"><img src="images/jh.jpg" width="27" height="28" /></a></div>
        </dl>
    </div>
    </div>
    </div>
</div>
<div class="clear"></div>

</body>
</html>
