<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="fw">
  <ul>
      <li><a href="#"><img src="images/dd.jpg" width="35" height="35" /></a></li>
      <li><a href="#"><img src="images/ren.jpg" width="32" height="33" /></a></li>
      <li><a href="#"><img src="images/gwc.jpg" width="40" height="34" /></a></li>
    </ul>
</div>
<div class="clear"></div>
<div class="cont">
  <div class="cont_l">
      <span>首 页</span>
        <ul>
          <li class="hover"><a href="#">炸鸡<img src="images/ysan.png" width="7" height="13" /></a></li>
          <li><a href="#">炸鸡<img src="images/ysan.png" width="7" height="13" /></a></li>
          <li><a href="#">炸鸡<img src="images/ysan.png" width="7" height="13" /></a></li>
          <li><a href="#">炸鸡<img src="images/ysan.png" width="7" height="13" /></a></li>
        </ul>
    </div>
  <div class="cont_r_n">
        <div class="xian"></div>
      <div class="song">
          <dl>
              <dt><img src="images/tu3.jpg" width="163" height="149" /></dt>
                <dd>提供揉合了特色的西式餐饮,等有茶餐厅算是
过。茶餐厅以其美食的多样化、上菜速度的
宽松的就餐环境以及适中的价钱吸引了非常
客。而其独特的卡位，轻松的环境氛围，更
代年轻人聊天聚会的最佳选择</dd>
            </dl>
        </div>
<div class="sd">
      <span>送餐速度：30分钟</span>
      <span>送餐速度：30分钟</span>
      <span>送餐速度：30分钟</span>
      <span>送餐速度：30分钟</span>
    </div>
    <div class="xian"></div>
    <div class="biaot">商品活动</div>
    <div class="nrong">
      <ul>
          <li><img src="images/huidian.jpg" width="6" height="11" /><a href="#">茶餐厅遍布各区，营业时间不定</a><span>2014-05-05</span></li>
          <li><img src="images/huidian.jpg" width="6" height="11" /><a href="#">茶餐厅遍布各区，营业时间不定</a><span>2014-05-05</span></li>
          <li><img src="images/huidian.jpg" width="6" height="11" /><a href="#">茶餐厅遍布各区，营业时间不定</a><span>2014-05-05</span></li>
        </ul>
    </div>
    <div class="xian"></div>
    <div class="biaot">商品活动</div>
    <div class="xx">
      <dl>
          <dt><img src="images/tu4.jpg" width="115" height="90" /></dt>
            <dd>
              <b>茶餐厅遍布各区，营业时间不定</b>
                <p>茶餐厅遍布各区，营业时间不定茶餐厅遍布各区，
营业时间不定茶餐茶餐厅遍...</p>
            </dd>
        </dl>
    </div>
    </div>
    </div>
    </div>
</div>
<div class="clear"></div>

</body>
</html>
