:javascript
  $(".user-account li").addClass("middle");
  $(".user-account li:first").removeClass("middle");
  $(".user-account li:first").addClass("first");
  $(".user-account li:last").removeClass("middle");
  $(".user-account li:last").addClass("last");