<% content_for :content do%>
<div class="alert alert-danger">
	<strong>出错啦！</strong>对不起,您无权进行此操作！请联系您的服务提供商解决此问题,请点击<%= link_to "返回", "/backend/login", :class=>"label label-info" %>进行其他操作。
</div>
<%end%>
