<h1><%= t("Editing menu") %></h1>

<%= render 'form' %>

<%= link_to t('Show'), backend_shop_system_config_menu_path(@current_shop.slug,@system_config ,@menu) %> |
<%= link_to t('Back'), backend_shop_system_config_menus_path(@current_shop.slug, @system_config) %>
