<h1><%= t('Edit Password')%></h1>
<div class="panel panel-default">
	<div class="panel-heading">
		账户安全设置
	</div>
<%= form_for(@account, url: get_update_my_password_path) do |f| %>
  <%= render 'edit_password_template', {f:f}%>
<% end %>
</div>
</div>
