%h1= t('Edit Password')
.panel.panel-default
  .panel-heading
    账户安全设置
  .panel-body
    .panel-content
      = simple_form_for @account, url: update_password_backend_shop_account_path(@current_shop, @account), html: {role: "form", class: "form-horizontal"} do |f|
        = render 'edit_password_template', {f:f}