%h1= t('Editing product')
.panel.panel-default
  .panel-heading 产品详情
  .panel-body
    = render 'form'
= link_to t('Show'), backend_shop_branch_product_path(@current_shop.slug, @current_branch, @product), :class=>"btn btn-default"
|
\#{link_to t('Back'), backend_shop_branch_products_path, :class=>"btn btn-default"}
