<p>您好 <%= @resource.email %>!</p>

<p>点击下面的连接重置您的登录密码</p>

<p><%= link_to '重置密码', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>如果您不需要重置密码，请忽略这份邮件。</p>
<p>如果你需要修改密码，点击连接后准确输入密码和确认密码重置您的密码！</p>
