<div ng-controller="productDetailController">
  <div ng-include="'webstore_partials/branch_header.html'"></div>
  <div class="col-xs-12 col-md-8 product_list">
    <div class="row panel panel-default partitions product_partition">
      <div class="panel-heading">
        <h2 class="modal-title">{{product.name}}</h2>
      </div>
      <div class="panel-body">
        <center><img ng-src="{{product.image.medium}}"/></center>
        <br/>
        <div class="panel panel-success">
          <div class="panel-heading">
            产品单价:
            <strong class="label label-danger">{{product.price|currency:shop.current_currency_symbol}}</strong>
            <strong class="label label-default" style="text-decoration:line-through">{{product.original_price|currency:current_shop.current_currency_symbol}}</strong>
            &nbsp;&nbsp;&nbsp;&nbsp;
            产品库存:<strong class="label label-warning">{{product.stock}}</strong>
          </div>
          <div class="panel-body" ng-bind-html="product_description"></div>
        </div>
      </div>
    </div>
  </div>
  <aside class="col-xs-12 col-md-4">
    <div class="row side_notice panel">
      <h2>商户公告</h2>
      <p>{{branch.notice}}</p>
    </div>
    <div class="row side_week_hot panel panel-default">
      <div class="panel-heading">本周热卖</div>
      <ul class="list-group">
        <li class="list-group-item" ng-hide="hots.length > 0">暂无热卖产品</li>
        <li class="list-group-item" ng-repeat="hot_product in hots" ng-show="hots.length > 0">
          {{hot_product.name}}
          <span class="actions right">
            <div class="btn-group" ng-hide="in_cart(hot_product)">
              <a href="javascript:void(0)" ng-click="add_to_cart(hot_product)" class="btn btn-default add_product_to_cart">加入购物车</a>
            </div>
            <div ng-show="in_cart(hot_product)" class="hot_products">
              <button class='minus' ng-click="minus_from_cart(hot_product)">-</button>
              <span class='number'>{{count_of_product(hot_product)}}</span>
              <button class='plus' ng-click="add_to_cart(hot_product)">+</button>
            </div>
          </span>
        </li>
      </ul>
    </div>
    <div class="row side_map panel">
      <img class="col-xs-12" ng-src="http://api.map.baidu.com/staticimage?width=340&height=200&center=&markers={{branch.longitude}},{{branch.latitude}}&zoom=16&markerStyles=l,A,0xff0000"/>
    </div>
  </aside>
</div>